@import url(reset.css);
@import url(grid.css);
@import url(header.css);

.titulo-section {
  display: flex;
  justify-content: center;
  margin-top: 74px;
}

.section-texto {
  display: flex;
  justify-content: space-between;
  padding: 72px 44px 89px 44px;
}

.texto-section .texto1 {
  color: #fff;
  font-size: 16px;
  line-height: 23.684px;
  letter-spacing: 0.437px;
}

.texto-section .texto2 {
  color: #be838c;
  font-size: 16px;
  line-height: 23.684px;
  letter-spacing: 0.437px;
}

.section-texto .star {
  display: flex;
  gap: 20px;
}

.section-texto .star div {
  border-radius: 9.109px;
  border: 2px solid #262626;
  background: #000;
  width: 162px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 15px;
  line-height: 14.575px;
  letter-spacing: 0.437px;
}

.logo-bridge {
  width: 1280px;
  height: 409px;
  background: #fff;
  display: flex;
  justify-content: center;
}

.logo-bridge .bridge {
  max-width: 1179px;
}

.next-day {
  background: #000;
  height: 1005px;
  font-size: 40px;
  margin: 12.8rem 0 17.8rem 0;
  text-align: center;
  word-spacing: 6px;
}

.next-day .linha-top {
  width: 1193px;
  height: 1px;
  background: #262626;
  margin: 0 auto;
  position: relative;
  top: -80px;
}

.next-day .rosa {
  color: #be7f8f;
  font-family: Roboto;
  font-size: 40px;
  line-height: 40.08px;
  letter-spacing: 1.822px;
}

.next-day .linha-bottom {
  width: 1193px;
  height: 1px;
  background: #262626;
  margin: 0 auto;
  position: relative;
  top: 80px;
}

.next-day .linha-bottom::before {
  content: "";
  width: 100%;
  max-width: 321px;
  height: 321px;
  background: url("../img/dourado.png") no-repeat center center;
  position: absolute;
  top: -150px;
  right: 65px;
}

.next-day .titulo-grande {
  color: #fff;
  font-size: 164px;
  line-height: 150.301px;
  letter-spacing: 9.109px;
  margin-top: 178px;
  position: absolute;
  z-index: 2;
}

.next-day .titulo-grande .rosa-grande {
  color: #ffc8d0;
  position: relative;
}

.next-day .titulo-grande .rosa-grande::before {
  content: "";
  width: 100%;
  max-width: 321px;
  height: 321px;
  background: url("../img/dourado.png") no-repeat center center;
  position: absolute;
  top: 180px;
  left: -120px;
  z-index: -1;
}

.texto-card {
  margin-bottom: 175px;
}

.texto-card p {
  color: #ffffff73;
  text-align: center;
  font-size: 22px;
  line-height: 29.149px;
  letter-spacing: 0.0729rem;
}

.texto-card h1 {
  color: #fff;
  text-align: center;
  font-size: 146px;
  line-height: 145.746px;
  letter-spacing: 9.109px;
  margin-top: 200px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 225px;
  margin-bottom: 45px;
}

.card-text,
.card-text2,
.card-text3 {
  text-align: center;
}

.card-text2 {
  position: relative;
  left: -6rem;
}

.card-text .step,
.step2,
.step3 {
  display: inline-block;
  border-radius: 145.746px;
  background: #262626;
  padding: 16px 40px;
  text-align: center;
  margin-bottom: 23px;
  font-size: 15px;
  line-height: 21.862px;
  letter-spacing: 0.437px;
}

.card-text .titulo-card,
.titulo-card2,
.titulo-card3 {
  text-align: center;
  font-size: 82px;
  line-height: 81.982px;
  letter-spacing: 4.555px;
  margin-bottom: 60px;
}

.card-text .paragrafo,
.paragrafo2,
.paragrafo3 {
  color: #ffffff69;
  font-size: 16px;
  line-height: 23.684px;
  letter-spacing: 0.437px;
}

.fundo-rosa,
.fundo-rosa3 {
  border-radius: 25px;
  background-color: #ffc8d0;
}

.cards2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 105px;
  margin-bottom: 45px;
}

.cards3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 245px;
  margin-bottom: 45px;
}

.fundo-rosa2 {
  background-color: #ffc8d0;
  border-radius: 25px;
  position: relative;
}

.fundo-rosa2::before {
  content: "";
  width: 100%;
  width: 324px;
  height: 324px;
  background: url("../img/cofre-yellow.svg") no-repeat center center;
  position: absolute;
  top: 270px;
  left: 215px;
}

.card-yellow-pq {
  content: "";
  width: 100%;
  width: 324px;
  height: 324px;
  background: url("../img/cofre-yellow.svg") no-repeat center center;
  position: absolute;
  top: -40px;
  left: -140px;
}

section .bg-black {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 260px 0;
}

.start-making {
  text-align: center;
}

.start-making h1 {
  color: #fff;
  font-size: 146px;
  line-height: 145.746px;
  letter-spacing: 9.109px;
}

.start-making img {
  position: relative;
  top: -85px;
  left: -10px;
  z-index: -1;
}

.start-making p {
  color: #ffffff77;
  font-size: 22px;
  line-height: 29.149px;
  letter-spacing: 0.729px;
}

.section-list {
  display: flex;
  justify-content: center;
  margin-top: 23.3rem;
  gap: 1.8rem;
}

/* CARD */

section .card-list {
  width: 50.1rem;
  height: 123.2rem;
  background: #000;
  border-radius: 25.506px;
  border: 0.2rem solid #44444498;
  padding: 123px 0 20px 0;
}

.title-list {
  border-bottom: 1px solid #262626;
}

.title-list h1 {
  color: #fff;
  text-align: center;
  font-size: 82px;
  line-height: 81.982px;
  letter-spacing: 4.555px;
  margin-bottom: 23px;
}

.title-list p {
  color: #ffffff57;
  text-align: center;
  font-size: 1.6rem;
  line-height: 23.684px;
  letter-spacing: 0.437px;
  margin-bottom: 35px;
}

.title-list h2 {
  color: #fff;
  text-align: center;
  font-size: 31px;
  line-height: 49.189px;
  margin-bottom: 2rem;
}

.card-list .purchase,
.surveys {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 25px;
  border-bottom: 1px solid #262626;
}

.card-list .purchase p {
  color: #ffffff83;
  font-size: 1.6rem;
  line-height: 2.3684rem;
  letter-spacing: 0.0437rem;
}

.card-list .purchase .coins {
  color: #000;
  border-radius: 21.8619rem;
  background: #ffc8d0;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  line-height: 2.3684rem;
  letter-spacing: 0.0437rem;
}

.card-list .surveys p {
  color: #ffffff83;
  font-size: 1.6rem;
  line-height: 2.3684rem;
  letter-spacing: 0.0437rem;
}

.card-list .surveys .certo {
  border-radius: 999.9rem;
  border: 0.2rem solid #ffc8d0;
  background: #ffc8d0;
  padding: 1.5rem 2rem;
}

.card-list .surveys .certo-black {
  border-radius: 54.655px;
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
  padding: 2.5rem;
}

.card-list .button2 {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 13.664px;
  background: #ffc8d0;
  padding: 25px 148px;
  width: 453px;
  margin: 25px auto;
  cursor: pointer;
  transition: bakcgroud 0.3s ease;
}

.card-list .button2:hover {
  background: #f7d5de;
}

.card-list .button2 p {
  color: #000;
  font-size: 1.6rem;
  line-height: 1.9676rem;
  letter-spacing: 0.0437rem;
  padding-left: 10px;
}

.card-list .button2 img {
  margin-left: 6px;
}

#card-list-white {
  background: #fff;
}

.card-list2 {
  width: 50.1rem;
  height: 123.2rem;
  background: #000;
  border-radius: 25.506px;
  padding: 123px 0 20px 0;
}

.title-list2 {
  border-bottom: 1px solid #2626261a;
}

.title-list2 h1 {
  color: #000;
  text-align: center;
  font-size: 82px;
  line-height: 81.982px;
  letter-spacing: 4.555px;
  margin-bottom: 23px;
  position: relative;
}

.title-list2 h1::before {
  content: "";
  width: 100%;
  width: 524px;
  height: 324px;
  background: url("../img/card-chip.svg") no-repeat center center;
  position: absolute;
  top: -335px;
  left: -15px;
}

.title-list2 p {
  color: #000;
  text-align: center;
  font-size: 1.6rem;
  line-height: 23.684px;
  letter-spacing: 0.437px;
  margin-bottom: 35px;
}

.title-list2 h2 {
  color: #000;
  text-align: center;
  font-size: 31px;
  line-height: 49.189px;
  margin-bottom: 2rem;
}

.card-list2 .purchase2,
.surveys2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 25px;
  border-bottom: 1px solid #2626261a;
}

.card-list2 .purchase2 p {
  color: #000;
  font-size: 1.6rem;
  line-height: 2.3684rem;
  letter-spacing: 0.0437rem;
}

.card-list2 .purchase2 .coins2 {
  color: #000;
  border-radius: 21.8619rem;
  background: #ffc8d0;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  line-height: 2.3684rem;
  letter-spacing: 0.0437rem;
}

.card-list2 .surveys2 p {
  color: #000;
  font-size: 1.6rem;
  line-height: 2.3684rem;
  letter-spacing: 0.0437rem;
}

.card-list2 .surveys2 .certo2 {
  border-radius: 999.9rem;
  border: 0.2rem solid #ffc8d0;
  background: #ffc8d0;
  padding: 1.5rem 2rem;
}

.card-list2 .button3 {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 1.3664rem;
  background: #ffc8d0;
  padding: 2.5rem 14.2rem;
  width: 45.3rem;
  margin: 2rem auto;
  cursor: pointer;
  transition: backgroud 0.3s ease;
}

.card-list2 .button3:hover {
  background: #f7d5de;
}

.card-list2 .button3 p {
  color: #000;
  font-size: 1.6rem;
  line-height: 1.9676rem;
  letter-spacing: 0.0437rem;
  padding-left: 1rem;
}

.card-list2 .button3 img {
  margin-left: 0.6rem;
}

.members {
  margin: 33rem auto 22.5rem;
  text-align: center;
  max-width: 81rem;
}

.members p {
  color: #ffffff83;
  font-size: 2.2rem;
  line-height: 2.9149rem;
  letter-spacing: 0.0729rem;
}

.members h1 {
  color: #fff;
  font-size: 14.6rem;
  line-height: 14.5746rem;
  letter-spacing: 0.9109rem;
  margin-top: 4rem;
}

.members h2 {
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.724px; /* 99.372% */
  letter-spacing: 0.437px;
}

.paid {
  background: #fff;
  text-align: center;
}

.paid h1 {
  color: #000;
  font-size: 16.4rem;
  line-height: 15.0301rem;
  letter-spacing: 0.9109rem;
  padding-top: 130px;
  font-style: normal;
  font-weight: 400;
}

.paid p {
  color: #000;
  font-size: 22px;
  line-height: 2.9149rem;
  letter-spacing: 0.0729rem;
  margin-top: 115px;
}

.card-bottom {
  background: #fff;
  display: flex;
  gap: 45px;
  justify-content: center;
  align-items: center;
  padding-top: 85px;
}

.card-bottom .quadrado {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 574px;
  height: 273px;
  border-radius: 21.862px;
  border: 2px solid rgba(0, 0, 0, 0.308);
  margin-bottom: 45px;
  transition: all 0.2s ease;
}

.card-bottom .quadrado:hover {
  background: #dba5b36b;
  border: none;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px;
  gap: 0 200px;
}

.footer p {
  color: rgba(255, 255, 255, 0.308);
  font-size: 1.1rem;
  line-height: 1.8218rem;
  letter-spacing: 0.0437rem;
  width: 480px;
  grid-row: 1 / 3;
}

.footer h3 {
  color: #fff;
  font-size: 2.2rem;
  line-height: 2.6234rem;
  letter-spacing: 0.0437rem;
  transition: color 0.3s ease;
}

.footer h3:hover {
  color: #ffffff59;
}

.img-footer {
  margin: 90px;
}

.copy {
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 22px;
  justify-content: space-between;
}

.copy h4 {
  color: rgba(255, 255, 255, 0.281);
  font-size: 1.3rem;
  line-height: 2.1862rem;
  letter-spacing: 0.0437rem;
}

.copy p {
  color: rgba(255, 255, 255, 0.281);
  font-size: 1.3rem;
  line-height: 2.1862rem;
  letter-spacing: 0.0437rem;
  transition: color 0.4s ease ;
}

.copy p:hover {
  color: #fff;
}

.arrow-top {
  display: flex;
  border-radius: 9.109px;
  background: #ffc8d0;
  width: 73px;
  height: 72px;
  justify-content: center;
  align-items: center;
  transition: backgroud 0.4s ease;
}

.arrow-top:hover {
  background: #fcd9df;
}

.paragraph {
  display: flex;
  gap: 22px;
}
